<div class="logo-wrapper">
    <i class="fa fa-bandcamp" aria-hidden="true"></i>
</div>
<ul class="sidebar-nav-wrapper">
    <li>
        <a>
            <i class="fa fa-file-o" aria-hidden="true"></i>
        </a>
    </li>
    <li routerLink="calendar" [routerLinkActive]="['is-active']">
        <a>
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </a>
    </li>
    <li routerLink="/" [routerLinkActive]="['is-active']">
        <a>
            <i class="fa fa-comment-o" aria-hidden="true"></i>
        </a>
    </li>
    <li routerLink="notifications" [routerLinkActive]="['is-active']">
        <a>
            <i class="fa fa-bell-o" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="fa fa-users" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
    </li>
</ul>