$primaryColor: #3855aa;
// $secondaryColor: #b6c8eb;
$secondaryColor: #F3F6FF;
// $secondaryBG: #b6c8eb;
$secondaryBG: #e1e7f7;
$iconColor: #5e5470;
$textColor: #5e5470;
$textColorSecondary: #a6a4ae;
$chatThreadBg: #de2b64;
$bgRose: #FEF5E6;
$chatTextColor: #61676F;