<div class="row">
    <div class="col-md-9">
        <div class="chat-main-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="chat-left-navigation-wrapper">
                        <div class="chat-navigation-section">
                            <div class="chat-navigation-top-wrapper prev-class">
                                <div class="chat-create-new-wrap">
                                    <div class="dotted-border"></div>
                                    <div class="chat-create-btn">
                                        <div class="icon-bg">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                        <p>Create New</p>
                                    </div>
                                </div>
                                <div class="chat-title-wrap mb-3">
                                    <h5>Chat</h5>
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </div>
                                <div class="chat-search-field">
                                    <div class="form-group">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <input type="text" placeholder="Search Name" class="form-control" id="search" aria-describedby="searchField">
                                    </div>
                                </div>
                            </div>

                            <div class="chat-tab-wrapper">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a *ngFor="let item of items; let i = index; let first = first;" attr.data-index="{{i}}" (click)="selectPill(i, $event)" class="nav-link fade show" [ngClass]="{'active': i === activePillIndex, 'next-default' : (activateClass && i === 1)}" id="v-pills-{{i}}"
                                        data-toggle="pill" role="tab" aria-controls="v-pills-tabs" aria-selected="true">
                                        <div class="chat-thread-wrap">
                                            <div class="chat-user-img">
                                                <img src="{{item.img}}" alt="Chat-image">
                                            </div>
                                            <div class="chat-user-name">
                                                <h5>{{item.name}}</h5>
                                                <p>{{item.time}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div *ngFor="let item of items; let i = index; let first = first;" class="tab-pane fade show" [ngClass]="{'active': i === activePillIndex}" id="v-pills-{{i}}" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="chat-body-wrapper">
                                <div class="chat-header-section">
                                    <div class="chat-thread-wrap">
                                        <div class="chat-user-img">
                                            <img src="{{item.img}}" alt="Chat-image">
                                        </div>
                                        <div class="chat-user-name">
                                            <h5>{{item.name}}</h5>
                                            <p>Online</p>
                                        </div>
                                        <div class="more-option-icon">
                                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-thread-wrapper">
                                    <ul>
                                        <li>
                                            <div class="conversation">
                                                <div class="conversation-text">
                                                    <p>Hello, Good Morning..!</p>
                                                    <p>How is marketing going for brand?</p>
                                                    <span>4:03PM</span>
                                                </div>
                                                <div class="chat-img">
                                                    <img src="/assets/images/5.jpg" alt="Chat-image">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="chat-app-user">
                                            <div class="conversation">
                                                <div class="conversation-text user">
                                                    <p>Hello, Good Morning..!</p>
                                                    <p>How is marketing going for brand?</p>
                                                    <span>4:03PM</span>
                                                </div>
                                            </div>
                                            <div class="conversation">
                                                <div class="chat-img">
                                                    <img src="{{item.img}}" alt="Chat-image">
                                                </div>
                                                <div class="conversation-text user">
                                                    <p>{{item.name}} shared 3 docs:</p>
                                                    <ul class="doc-wrapper">
                                                        <li>
                                                            <div class="doc-container">
                                                                <img src="/assets/images/pdf.png" alt="pdf-img">
                                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="doc-container">
                                                                <img src="/assets/images/doc.png" class="img-responsive" alt="doc-img">
                                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="doc-container">
                                                                <img src="/assets/images/doc.png" class="img-responsive" alt="doc-img">
                                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <span>4:03PM</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="conversation">
                                                <div class="conversation-text">
                                                    <p>This looks great. Thank you!</p>
                                                    <span>4:15PM</span>
                                                </div>
                                                <div class="chat-img">
                                                    <img src="/assets/images/5.jpg" alt="Chat-image">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="chat-input-wrapper">
                                    <div class="form-group">
                                        <div class="icon-bg add">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                        <input type="text" placeholder="Type a message here..." class="form-control" id="search" aria-describedby="searchField">
                                        <div class="emoji-icon">
                                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="icon-bg send">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <app-chat-user-info></app-chat-user-info>
    </div>
</div>