<div class="chat-user-info-wrapper">
    <div class="user-info-area">
        <img src="/assets/images/5.jpg" alt="Chat-image">
        <h4 class="mt-3">Wilburn Stoltenberg</h4>
        <p>CEO & Founder</p>
    </div>

    <div class="accordion" id="accordionUserInfo">
        <!-- [ngClass]="{'active-tab': (i === activeIndex && status)}" -->
        <div class="card" *ngFor="let item of accordionData; let i = index" [ngClass]="i === activeIndex ? 'active-tab': ''">
            <div class="card-header" id="headingOne" (click)="selectAccordion(i, $event)">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#data-{{i}}" aria-expanded="true" aria-controls="collapseOne">
                        <div class="accordion-header-icon">
                            <i class="fa {{item.headerIcon}} {{item.class}}" aria-hidden="true"></i>
                        </div> 
                         <span>{{item.title}}</span>
              </button>
                </h2>
            </div>

            <div id="data-{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionUserInfo">
                <div class="card-body">
                    <p *ngIf="!item.contents.length">{{item.title}}</p>
                    <ul *ngIf="item.contents.length" class="accordion-body-content">
                        <li *ngFor="let content of item.contents; let i = index">
                            <div class="content-files">
                                <i class="fa {{content.icon}} {{content.class}}" aria-hidden="true"></i>
                            </div>
                            <span>{{content.text}}</span>
                            <a>
                                <i class="fa {{content.downloadIcon}}" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>